* {
    -webkit-tap-highlight-color: #00000010;
    box-sizing: border-box;
}
::selection {
    background: rgba(198, 230, 188);
}
::-moz-selection {
    color: white;
    background: black;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
a{
    text-decoration: none;
}
