#blogs-row-container {
    width: 80vw;
}
#blog-row-title {
    font-size: 24px;
    color: #fff;
}
#blogs-row-container:hover #blog-row-title {
    color: #aaa;
}
#blog-row-description {
    width: 80vw;
    font-size: 18px;
}
#pagination-container {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    border-top: 2px solid #fff;
    border-radius: 10px 10px 0px 0px;
    z-index: 10;
}
.pagination-button {
    width: 90px;
    height: 30px;
    margin: 0px 50px;

    border-radius: 20px;
    border: none;
    background-color: #fff;

    font-weight: 600;
    color: #222;
    font-size: 16px;
}
#page-counter {
    width: 100px;
    text-align: center;
    color: #eee;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    #blogs-row-container {
        width: 90vw;
    }
    #blog-description {
        width: 85vw;
        font-size: 16px;
    }
    #pagination-container {
        height: 40px;
    }

    .pagination-button {
        margin: 0px 20px;
        height: 30px;
    }
}
