#creator-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#data-selector-panel{
    width: 40%;
    height: 98vh;

    background-color: #ddd;
    border-radius: 20px;
    margin: 0px 10px;
    overflow: scroll;
}
.data-selector-container{
    width: 90%;
    height: 60%;
    margin: 20px;
    margin-left: 5%;
    background-color: #ae3434;
    border-radius: 20px;
    overflow: hidden;
}
.data-selector-title{
    width: 100%;
    height: 40px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888;
    border-radius: 20px 20px 0 0;
}
.data-container{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    background-color: #fff;
}
.data-row{
    width: calc(100% - 10px);
    min-height: 50px;
    background-color: #eee;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding-left: 10px;
    cursor: pointer;
}

#form{
    width: 40%;
    height: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border-radius: 20px;
}
#form-input-container{
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.form-input-box{
    height: 50px;
    padding-left: 20px;
    margin: 10px;

    color: black;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10); 
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.20); 
    background-color: #eee;

    overflow-x: scroll;
}


.form-input-box:focus{
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20); 
    background-color: #fff;
}
.form-input-box::placeholder{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 24px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.form-input-box:focus::placeholder{
    color: transparent;
}
.form-input-box, #description-textbox, #file-selector-container, .checkbox-container{
    width: 90%;
}
#description-textbox{
    min-height: 50%;
    max-height: 100%;
    padding: 20px 0 0 20px;
    font-size: 16px;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10); 
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.20); 
    background-color: #eee;
}
#description-textbox:focus{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);  
    outline: none;
    background-color: #fff;
}
#description-textbox::placeholder{
    font-size: 16px;
}
#file-selector-container{
    height: 30px;
    padding: 5px;
    padding-left: 20px;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10); 
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.20); 
    background-color: #eee;

    display: flex;
    align-items: center;
}
#file-selector{
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 400;

    display: flex;
    align-items: center;
}

.checkbox-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.checkbox-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
#response-msg{
    margin: 0;

    text-align: center;
    color: transparent;
    font-size: 20px;
    font-weight: bold;
}
#submit-btn-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit-btn{
    width: 200px;
    height: 50px;
    margin: 5px;

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    background-color: black;
    border: none;
    border-radius: 20px;
}
#clear-button{
    width: 200px;
    height: 50px;
    margin: 5px;

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    background-color: rgba(0, 0, 0, 0.571);
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    #form{
        width: 90%;
    }
    .form-input-box{
        width: 90%;
        height: 50px;
        font-size: 20px;
    }
    .form-input-box::placeholder{
        font-size: 20px;
    }
    #description-textbox{
        width: 90%;
    }
    #file-selector-container{
        width: 90%;
    }
    .checkbox-container{
        width: 90%;
    }
    #submit-btn-container{
        height: 10%;
    }
    #submit-btn{
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin: 10px;

    }
    #clear-button{
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin: 10px;
    }

    #response-msg{
        font-size: 16px;
    }
}