* {
    color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}
#blogs-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(8,8,8);

    font-family: Sohne, sans-serif;
}
#blog-title-container {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog-title {
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    display: inline;
    font-family: Sohne, sans-serif;
}
#blogs-container {
    width: 50%;
    min-height: 100vh;
    line-height: 28px;
    margin-bottom: 100px;

    font-size: 18px;
}
#blogs-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;
    padding: 0;
    margin-top: 45px;
}
#blogs-container h2 {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    padding: 0;
    margin-top: 40px;
}
#blogs-container p {
    padding: 0;
    margin: 30px 0 0;
    line-height: 1.75rem;
}
#blogs-container strong {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin-top: 40px;
}

pre {
    overflow-x: auto;
    white-space: pre;
    background-color: #151515;
    padding: 5px;
    margin: 20px 0;
    border-radius: 5px;

}
code {
    background-color: #151515;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
    font-size: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 1100px) {
    #blogs-container, #blog-title-container {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    #blog-title-container {
        width: 95%;
        margin-top: 25px;
    }
    #blog-title {
        font-size: 32px;
        font-weight: 400;
    }
    #blogs-container {
        width: 100%;
        padding: 0 20px;
    }
    #blogs-container h1 {
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
        padding: 0;
        margin-top: 24px;
    }
    #blogs-container h2 {
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        line-height: 20px;
        padding: 0;
        margin-top: 20px;
    }
    #blogs-container p {
        line-height: 28px;
        padding: 0;
        margin: 30px 0 0;
    }
    #blogs-container strong {
        font-size: 18px;
        font-weight: 600;
        padding: 0;
        margin-top: 20px;
    }
}
