@font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 100 400;
    font-display: swap;
    src: url(../../public/fonts/sohne-buch.otf) format("opentype");
}
@font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 500 700;
    font-display: swap;
    src: url(../../public/fonts/sohne-kraftig.otf) format("opentype");
}
@font-face {
    font-family: "Sohne";
    font-style: normal;
    font-weight: 700 900;
    font-display: swap;
    src: url(../../public/fonts/sohne-halbfett.otf) format("opentype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../../public/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Exo";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../../public/fonts/Exo-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../../public/fonts/Raleway-Regular.ttf) format("truetype");
}
