#hello-wrapper {
    width: 25vw;
    position: relative;
    bottom: 50px;
    left: 10px;
}

.hello {
    fill: none;
    stroke: #f5f5f7;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-width: 4;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: write 3s ease-in-out forwards;
}

@keyframes write {
    to {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 768px) {
    #hello-wrapper {
        width: 40vw;
        position: relative;
        bottom: 50px;
        left: 10px;
    }
}
