#row-container{
    width: 60vw;
    max-width: 1100px;
}
#content-container{
    width: 80%;
}
@media screen and (max-width: 768px){
    #row-container{
        width: 90vw;
    }
    #content-container{
        width: 90%;
    }
    
}