#list-item {
    width: 70vw;
}
#updates-container {
    background-color: #eee;
    border-radius: 20px;
}
#expand-button-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    #list-item {
        width: 90vw;
    }
    #updates-container {
        border-radius: 36px;
    }
}
