#about-me-container {
    width: 70vw;
}
#about-me {
    font-size: 20px;
}
#heading {
    font-size: 28px;
}
#info-container {
    width: 70vw;
}
#links-list {
    width: 50%;
}
#links-list li {
    padding: 5px 0;
}
@media screen and (max-width: 768px) {
    #about-me-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about-me {
        width: 85vw;
        font-size: 16px;
    }
    #heading {
        font-size: 24px;
    }
    #info-container {
        width: 100vw;
        flex-direction: column;
    }
    #links-list {
        width: 100%;
    }
    #links-list li {
        padding: 5px 10px;
    }
}

