/* Add this at the top of your index.css file */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
#about-me-container{
    width: 70vw;
    padding-left: 100px,
}
#about-me{
    width: 50vw;
    font-size: 20px;
}
#heading{
    font-size: 28px;
}
@media screen and (max-width: 768px){
    #about-me-container{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about-me{
        width: 85vw;
        font-size: 14px;
    }
    #heading{
        font-size: 24px;
    }
}