#grid {
    grid-template-columns: 350px 350px 350px;
}

#project-desctiption {
    width: 330px;
}

@media screen and (max-width: 1100px) {
    #grid {
        grid-template-columns: 350px 350px;
    }
    #project-desctiption {
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    #grid {
        grid-template-columns: 360px;
    }
    #project-desctiption {
        width: 300px;
    }
}
