#updates-list {
    width: 50%;
}
#list-item {
    padding: 5px 0px;
}
#expand-button-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    #updates-list {
        width: 100%;
    }
    #list-item {
        padding: 5px 10px 5px 7.5vw;
    }
}
