#list-item {
    width: calc(1100px - 50px);
}
#updates-container {
    background-color: #eee;
    border-radius: 20px;
}
#expand-button-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1100px) {
    #list-item {
        width: calc(725px - 50px);
    }
}
@media screen and (max-width: 768px) {
    #list-item {
        width: calc(90vw - 20px);
    }
}
